body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NHaasGroteskDSPro-65Md' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: white !important;
}
#carousel{
  max-height: 500px;
}
.carousalImg{
  object-fit: contain !important;
}
.black-background {

  background-color: black;
  padding:5px;
  /* Add padding if needed */
  /* Add any other styling as needed */
}

/* Set the text color of the cards to white for better visibility */
.black-background .fs-3 {
  color: white;
}